<h2><%= @genre.name.capitalize %> Movies</h2>
<div class="genre_movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <div class="image">
        <%= movie_image(movie) %>
      </div>
      <span class="title"><%= movie.name %></span>
    </div>
  <% end %>
</div>