<h2>Edit Review</h2>

<%= render "form", movie:@movie, review:@review %>

<section class="admin">
  <%= link_to "Delete", 
      movie_review_path(@movie, @review), 
      class: "button", 
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</section>